*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: calc(100vh - 85px);
  overflow: auto;
  padding-top: 85px;
  background-color: black;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  justify-content: flex-end;
  background-color: black;
}

.section{
  width: 95%;
  height: 100%;
  margin: 0 auto;
}


footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 998;
}

