*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

main{
  height: calc(100vh - 170px);
  overflow: auto;
  background-color: black;
  justify-content: center;
}

header{
  width: 100%;
  justify-content: flex-end;
  background-color: black;
 }


footer{
  width: 100%;
  background-color: #222222;
}

.btn, li:hover{
  cursor: pointer;
}

