
/* HEADER */

.speaker-nav{
  color: white;
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 5px 5px 0 0;

}

.speaker-nav .btn{
  font-size: 1rem;
  background-color: #4a4a4a;
  margin-right: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
}

.speaker-nav .btn .fa-table-cells{
  margin-right: 10px;
}


/* MAIN */

main .section{
  justify-content: space-between;
  overflow: auto;
  
}

main .section .card{
  width: 250px;
  height: 180px;
  margin-bottom: 10px;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(../rick-and-morty.jpeg);
  background-position: center;
  background-size: cover;
}

.overlay{
  color: white;
  background-color: black;
  opacity: 0.6;
  padding: 5px;
}

.overlay i{
  margin-right: 5px;
}

/* FOOTER */

footer .nav{
  justify-content: space-between;
}

footer .nav .left.section{
  
}

footer .nav .right.section{
  width: 300px;
  background-color: #4a4a4a;
  color: red;
  flex-grow: 0;
}

footer .nav .center.section ul{
  list-style: none;
  color: white;
}