.debug{
  background-color: rgba(240, 138, 138, 0.466);
  border: 1px solid black;
}

.h85{
  height: 85px;
}

.active-icon{
  color: #4bc800;
}

/* flex utils */

.d-flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

/* /flex utils */